.card{
  position: relative;
  perspective: 1000px;

  .front,.back{
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }

  .front{
    transform: rotateY(0deg);

    img{
      width: 100%;
    }
  }

  .back{
    transform: rotateY(-180deg);
    color: aliceblue;
    border: 1px solid #708595;
    

    p,h3{
      padding: 10px;
    }
  }

  &:hover .front{
    transform: rotateY(-180deg);
  }

  &:hover .back{
    transform: rotateY(0deg);
  }
}